*{
    padding:0;
    margin:0;
    font-family: 'Itim',cursive;
}

.background{
    background-color: rgb(16, 15, 15);
    height: 100vh;
    padding-top: 1px;
}

.title{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display{
    color:white;
    font-size:25px;
    text-align: center;
    margin-top:1em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.container{
    margin:0 auto;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #0be692;
}

.playerO {
    color: #3a78e3;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    background-color: #d51c41;;
}

@keyframes burst {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.background.burst {
    animation: burst 1s ease-out;
}

.win-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 0;
    animation: celebrate 3s forwards; /* Adjust the duration as needed */
}

@keyframes celebrate {
    0% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
    50% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 0; }
}




